* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0a0814;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
}

header h1 {
	display: inline;
}

/* --- HEADER Styles Begin --- */
header a {
	text-decoration: none;
	color: white;
}

header nav ul li {
	display: inline;
}
/* --- HEADER Styles End --- */

/* --- HERO Styles Start --- */
.hero {
	display: flex;
}

.hero-spotlight {
	flex: 1 30%;
	align-content: center;
}

	.hero-spotlight img {
		width: 80%;
		height: auto;
		padding: 5%;
	}

.hero-content {
	flex: 2 70%;
}

.hero-bio {
	display: block;
}

	.hero-bio a {
		text-decoration: none;
	}

	.hero-bio ul {
		list-style-type: none;
	}

		.hero-bio ul li {
			display: inline-block;
		}

/* Featured Repo Section in hero */

.featured-repolist {
	display: flex;
	flex-wrap: wrap;
}

.featured-repo {
	display: flex;
	width: 100%;
}

.repo-thumbnail {
	flex: 1 30%;
	padding: 30px;
}

	.repo-thumbnail img {
		width: 100%;
		height: auto;
	}

.repo-desc {
	flex: 12 70%;
}
/* --- HERO Styles End --- */

/* --- ABOUT-ME Styles Starts --- */
.about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.about-title {
	width: 100%;
	text-align: center;
	justify-content: center;
}

	.about p {
		text-align: center;
		width: 100%;
	}

/* --- ABOUT-ME Styles End --- */

/* FORMATTING DECLARATIONS */
.section-title {
	text-align: center;
	width: 50%;
}

/* WORKER DECLARATIONS */
.align-ctr {
	align-self: center
}

.flex-row {
	display: flex;
}
